appdirs==1.4.4
asgiref==3.3.4
distlib==0.3.2
dj-database-url==0.5.0
dj-static==0.0.6
Django==3.2.4
django-heroku==0.3.1
dukpy==0.2.3
filelock==3.0.12
gunicorn==20.1.0
javascripthon==0.11
macropy3==1.1.0b2
psycopg2==2.8.6
pygame==2.0.1
pytz==2020.5
six==1.16.0
sqlparse==0.4.1
static3==0.7.0
virtualenv==20.4.7
whitenoise==5.2.0
